* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #3a3939;
}

.interface {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
